.sa-button-container .confirm {
  color: #fff;
  background-color: #635BFF !important;
  border-color: #635BFF;
  padding: 8px 15px;
}

.sa-button-container .confirm:hover {
  background-color: #7ecff4 !important;
}

.sa-button-container .cancel {
  color: #fff;
  background-color: #f87272 !important;
  border-color: #f87272;
  padding: 8px 15px;
}

.sa-button-container .cancel:hover {
  background-color: #dd1515 !important;
}

.coin-copy {
  margin-left: 2%;
}

.text-color {
  color: #6c757d
}

.bank-add-btn {
  margin-bottom: 20px;
  margin-left: 10px;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.font-bold {
  font-size: 14px;
  font-weight: bold;
}

.checkbox-parent-label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-top: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-parent-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-parent-div{
  padding: 15px 0px 5px 15px;
  border: 1px solid #dcdcdc;
  transition: 0.3s;
  border-radius: 4px;
}
.flex-for-column{
  display: flex;
  flex-direction: column;
}
.check-border-active {
  border: 1px solid #635BFF;
}
.f-property{
  font-size: 14px;
  word-break: break-all;
}
.checkbox-container{
  display: flex !important;
}
.mb-20p {
  margin-bottom: 20px;
}
.mb-10p{
  margin-bottom: 10px;
}
.mb-box{
  margin-bottom: 20px;
}
.pr-customize{
  padding-right: 10px !important;
}
.mb-unset{
  margin-bottom: 0px !important;
}
